<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="register-container">
    <h2 class="text-center mb-3">User Registration</h2>
    <form id="registerForm">
        <input type="text" id="name" placeholder="Name" required class="form-control mb-5">
        <input type="text" id="email" placeholder="Email" required class="form-control mb-4">
        <input type="text" id="username" placeholder="Username" required class="form-control mb-2">
        <input type="password" id="password" placeholder="Password" required class="form-control mb-3">
        <button type="submit" id="sendButton" class="btn btn-primary w-100">Register</button>
    </form>
    <div id="message" class="mt-3 text-center"></div>
</div>
<script src="/static/js/register.js"></script>
</body>
</html>
