<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WebSocket Chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        #chat {
            height: 400px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f8f9fa;
            margin-bottom: 10px;
        }
        .message {
            margin-bottom: 10px;
        }
        .address {
            font-weight: bold;
        }
        .time {
            font-size: 0.8em;
            color: gray;
        }
        .text {
            margin-left: 10px;
        }
    </style>
</head>
<body class="container mt-4">
<h2 class="text-center mb-3">WebSocket Chat</h2>
<div id="chat"></div>

<div class="input-group mb-3">
    <input type="text" id="messageInput" class="form-control" placeholder="Type a message">
    <button id="sendButton" class="btn btn-primary">Send</button>
</div>

<script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws');

    const chat = document.getElementById('chat');
    const messageInput = document.getElementById('messageInput');
    const sendButton = document.getElementById('sendButton');


    function addMessage(time, address, message, isMyMessage) {
        const messageElement = document.createElement('div');
        messageElement.classList.add('message', 'p-2', 'bg-light', 'rounded');

        const addressElement = document.createElement('div');
        addressElement.classList.add('address');
        addressElement.textContent = address;

        const timeElement = document.createElement('div');
        timeElement.classList.add('time');
        timeElement.textContent = time;

        const textElement = document.createElement('div');
        textElement.classList.add('text');
        textElement.textContent = message;

        messageElement.appendChild(addressElement);
        messageElement.appendChild(timeElement);
        messageElement.appendChild(textElement);

        chat.appendChild(messageElement);
        chat.scrollTop = chat.scrollHeight;
    }

    sendButton.addEventListener('click', () => {
        const message = messageInput.value;
        if (message.trim() === '') return;
         const msgObj = {
            Message: message
        };
        socket.send(JSON.stringify(msgObj));
        messageInput.value = '';
    });

    socket.addEventListener('message', (event) => {
        const data = JSON.parse(event.data);
        addMessage(data.time, data.address, data.message, false);
    });
    socket.addEventListener('keypress', function(event){
        if (event.key === 'Enter'){
            sendButton.click()
        }
    });
</script>
</body>
</html>
